.container-style {
  color: "black";
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  max-width: 800px;
}

.heading-style {
  color: black;
  text-align: center;
}

.paragraph-style {
  color: black;
  text-align: justify;
}

.link-style {
  background-color: white;
  color: blue;
  font-size: 17px;
  font-weight: bold;
}

.div-placeholder-style {
  min-height: 586px;
  display: grid;
  align-items: center;
  text-align: center;
}
