:root {
  --primary-color: #8367d8;
  --neutral-00: #252525;
  --neutral-05: #9b9b9b;
  --neutral-09: #d8d8d8;
  --white: #ffffff;
  --success: #417505;
  --error: #cc0000;
  --warning: #ec982d;
  --accent: #ab944e;
}
