@import "./constants.css";

.forgot-password-title {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.84px;
  margin-bottom: 55px;
}

.forgot-password-form {
  width: 738px;
  border: 1px solid var(--neutral-09);
  background-color: var(--white);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.input-group label {
  margin-bottom: 8px;
}

.input-field {
  width: 548px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 50px;
  border: 1px solid var(--neutral-09);
  background-color: var(--white);
}

.forgot-password-button {
  width: 566px;
  height: 56px;
  margin-top: 50px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 50px;
  transition: background-color 0.9s ease, color 0.9s ease;
}

.forgot-password-text {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-05);
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 35px;
}

.input-field:focus {
  background-color: var(--white);
  border-color: var(--neutral-09);
  outline: none;
}

input::placeholder {
  color: var(--neutral-05);
}

.forgot-password-button:hover {
  background-color: #a089e6;
}
